[submodule "3party/assimp"]
	path = 3party/assimp
	url = git@github.com:assimp/assimp
[submodule "3party/glfw"]
	path = 3party/glfw
	url = git@github.com:glfw/glfw
[submodule "3party/stb"]
	path = 3party/stb
	url = git@github.com:nothings/stb
[submodule "3party/glm"]
	path = 3party/glm
	url = git@github.com:g-truc/glm
[submodule "3party/glm-aabb"]
	path = 3party/glm-aabb
	url = git@github.com:rokuz/glm-aabb
[submodule "3party/cxxopts"]
	path = 3party/cxxopts
	url = git@github.com:jarro2783/cxxopts
[submodule "3party/googletest"]
	path = 3party/googletest
	url = git@github.com:google/googletest
[submodule "3party/delaunator-cpp"]
	path = 3party/delaunator-cpp
	url = https://github.com/delfrrr/delaunator-cpp.git
